<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>boardlist.html</title>
</head>
<body>
	<h1>게시판 목록</h1>
	<table>
		<tr>
			<td>순서</td>
			<td>게시번호</td>
			<td>제목</td>
			<td>내용</td>
			<td>작성자</td>
			<td>작성일</td>
			<td>수정일</td>
		</tr>
		
		<tr th:each="board, rowstatus:${blist}">
		<td th:text="${rowstatus.count}">순서</td>
			<td th:text="${board.bno}">게시번호</td>
			<td th:text="${board.title}">제목</td>
			<td th:text="${board.content}">내용</td>
			<td th:text="${board.writer}">작성자</td>
			<td th:text="${board.regdate}">작성일</td>
			<td th:text="${board.updatedate}">수정일</td>
		</tr>
	</table>
</body>
</html>