<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:insert="~{fragments/header::header1}"></div>
<h1>THYMELEAF 유틸리티 표현식</h1>
<p th:text = "${now}"></p>
<p th:text = "${salary}"></p>
<p th:text = "${message}"></p>
<p th:text = "${fruits}"></p>
<p th:text = "|날짜포맷지정 ${#dates.format(now,'yyyy.MM.dd')}|"></p>
<div th:with="aa=${#dates.format(now,'yyyy-MM-dd')}">
<p>지역변수에 저장하여 읽기 = [[${aa}]]</p>
</div>
<p th:text="${#numbers.formatDecimal(salary,3,'COMMA',2,'POINT')}"></p>
<div th:with="bb=${#numbers.formatDecimal(salary,3,'COMMA',2,'POINT')}">
<p th:text = "|숫자포맷지정 ${bb}|">지역변수에 저장하여 읽기 = [[${bb}]]</p>
</div>
<p th:utext="${#strings.replace(message,'hi','<b>HI!</b>')}"></p> <!-- message값 중 두번째 값을 세번째 값으로 바꿔라 , 태그를 입히고 싶으면 utext 사용하면 됨-->
<ul>
<li th:each="list:${#strings.listSplit(message,' ')}">[[${list}]]</li>
</ul>
<ul>
<li th:each="f:${fruits}">[[${f}]]</li>
</ul>
<ul>
<li><a th:href="@{http://localhost:9999/sample1}">링크1-> full작성</a></li>
<li><a th:href="@{/sample1}">링크2-1 -> 절대경로</a></li>
<li><a th:href="@{~/sample1}">링크2-2 -> context가 다른 경우 절대경로</a></li>
<li><a th:href="@{sample2}">링크3-1 -> 상대경로</a></li>
<li><a th:href="@{/sample2(a=100, b='summer')}">링크3-2 -> 절대경로. 파라메터 있다.</a></li>
<li><a>링크4</a>
</ul>
<p></p>
<div th:insert="~{fragments/footer::footer}"></div>
</body>
</html>